@use "../variables/colours";
@use "../variables/layout";

$animation-time: 200ms;
.dialog-background {
	@include layout.CentredFlexbox;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(colours.$page-background-colour2, 0.4);
	z-index: 10;
	animation: fade-in;
	animation-fill-mode: forwards;
	padding: 20px;

	.dialog {
		width: min(800px, 100%);
		max-height: min(800px, 100%);
		min-height: 200px;
		background: colours.$page-background-colour1;
		border-radius: 10px;
		animation: inherit;
		animation-name: zoom-in;
		box-shadow: 0 0 10px colours.$page-background-colour2;
		border: solid 1px colours.$page-background-colour2;
		padding: 20px;
		@media #{layout.$desktop-and-tablet} {
			padding-right: 50px;
			padding-left: 50px;
		}
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.dialog-title {
			width: 100%;
			text-align: center;
			border-bottom: solid rgba(white, 0.1) 1px;
			line-height: 1;
			padding-bottom: 10px;
		}

		.close-dialog-cross {
			@include layout.CentredFlexbox;
			position: absolute;
			top: 10px;
			right: 5px;
			width: 40px;
			height: 40px;
			border-radius: 10px;
			cursor: pointer;
			&:hover {
				background: rgba(colours.$page-background-colour2, 0.6);
			}
		}

		.dialog-content {
			overflow: auto;
			display: flex;
			flex-direction: column;
			gap: inherit;
		}
	}

	&.closing {
		animation-name: fade-out;
		pointer-events: none;

		.dialog {
			animation-name: zoom-out;
		}
		.close-dialog-cross {
			display: none;
		}
	}
}
