/// -------------------------------------------------------- /
/// The Main Page Header Component
/// -------------------------------------------------------- /

@use "../variables/colours";
@use "../variables/layout";
@use "../variables/fonts";

header {
	font-size: 28px;
	text-align: center;
	background: colours.$header-background-colour;
	box-shadow: 0 0 20px rgba(black, 0.4);

	$header-height: 45px;

	.page-container {
		display: grid;
		grid-template-columns: $header-height 1fr $header-height;
		align-items: center;
		height: $header-height;

		h1 {
			@include fonts.HeaderFont;
			font-size: 28px;
		}

		.hamburger-menu,
		.info-box {
			@include colours.LightBackgroundOnHover;
			height: $header-height;
			width: $header-height;
		}

		.info-box {
			font-weight: 600;
		}

		.hamburger-menu {
			@include layout.CentredFlexbox;
			flex-direction: column;
			gap: 5px;
			rotate: 0deg;
			div {
				width: 50%;
				height: 2px;
				border-radius: 2px;
				background: white;
				rotate: 0deg; //Forces hardware acceleration.
			}
		}
	}
}
