/// -------------------------------------------------------- /
/// The Loading Spinner
/// -------------------------------------------------------- /
@use "../variables/layout";

$initial-colour: #333;
$pulse-colour: #eee;
$animation-time: 1000ms;
.loading-spinner {
	@include layout.HexagonalGrid(100px);
	margin: auto;

	.hexagon {
		fill: $initial-colour;
		animation: loadingSpinner $animation-time infinite;

		//Top has a delay of 0

		// Left
		&:nth-child(2) {
			animation-delay: $animation-time * 0.75;
		}

		// Right
		&:nth-child(3) {
			animation-delay: $animation-time * 0.25;
		}

		// Bottom
		&:last-child {
			animation-delay: $animation-time * 0.5;
		}
	}
}

@keyframes loadingSpinner {
	0%,
	100% {
		fill: $initial-colour;
	}

	50% {
		fill: $pulse-colour;
	}
}
