/// -------------------------------------------------------- /
/// Sizing Variables
/// -------------------------------------------------------- /
$page-container-max-width: 1000px;

/// -------------------------------------------------------- /
/// Styling for hexagons and our hexagonal grid
/// -------------------------------------------------------- /

@mixin HexagonalGrid($hexagon-size) {
	$row-height-adjustment: $hexagon-size * 0.85;
	padding-bottom: $hexagon-size - $row-height-adjustment;
	.hexagonal-grid-row {
		display: flex;
		justify-content: center;
		height: $row-height-adjustment;

		.hexagon {
			position: relative;
			height: $hexagon-size;
			svg {
				height: 100%;
				rotate: 90deg;
			}

			.hexagon-content {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				pointer-events: none;
			}
		}
	}
}
