@use "sass:math";

/// -------------------------------------------------------- /
/// Devices
/// -------------------------------------------------------- /
$mobile-max-width: 600px;
$tablet-max-width: 900px;
$mobile-only: "only screen and (max-width: #{$mobile-max-width})";
$mobile-and-tablet: "only screen and (max-width: #{$tablet-max-width})";
$desktop-and-tablet: "only screen and (min-width: #{$mobile-max-width})";
$desktop-only: "only screen and (min-width: #{$tablet-max-width})";

// / -------------------------------------------------------- /
/// Sizing Variables
/// -------------------------------------------------------- /
$page-container-max-width: 1000px;

/// -------------------------------------------------------- /
/// Utility Layout Functions
/// -------------------------------------------------------- /
@mixin CentredFlexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

/// -------------------------------------------------------- /
/// Styling for hexagons and our hexagonal grid
/// -------------------------------------------------------- /

@mixin HexagonalGrid($hexagon-size) {
	$row-height-adjustment: $hexagon-size * 0.85;
	padding-bottom: $hexagon-size - $row-height-adjustment;

	display: grid;
	grid-auto-rows: $row-height-adjustment;
	grid-auto-columns: math.div($hexagon-size, 2);

	.hexagon {
		position: relative;
		height: $hexagon-size;

		.hexagon-svg {
			height: 100%;
			rotate: 90deg;
		}

		.hexagon-content {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			@include CentredFlexbox;
			pointer-events: none;
		}
	}
}

.react-transform-wrapper,
.react-transform-component {
	height: 100% !important;
	width: 100% !important;
	//justify-content: center;
	//align-items: center;
}
